body {
    height: 100dvh;
    display: grid;
    place-items: center;
    background-color: #0000004f;
}

i {
    font-size: 1em;
    color: #fff;
}

.counter-tile .counter-digit {
    font-size: 2.5em;
    color: #fff;
}

span {
    padding: 0px 2px;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000e7;
    padding: 20px;
    border-radius: 5px;
}

.counter-tile {
    box-shadow: 0px 4px 8px #00000033;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 0px 5px;
    border-radius: 10px;
}